<form [formGroup]="form" (ngSubmit)="login()">
  <div *ngIf="form.errors?.invalidLogin" class="alert alert-danger">Invalid username or password</div>
  <div class="form-group">
    <label for="username">Username</label>
    <input formControlName="username" type="text" id="username" class="form-control">
    <div *ngIf="username.pending">Checking status...</div> <!-- pending devuelve true si alguno de los asyncValidators esta corriendo -->
    <div *ngIf="username.touched && form.get('username').invalid" class="alert alert-danger">
      <div *ngIf="username.errors.required">Username is required</div>
      <div *ngIf="username.errors.minlength">Username must have at least 3 characters</div>
      <div *ngIf="username.errors.cannotContainSpaces">Username must not contain spaces</div>    
      <div *ngIf="username.errors.isUnique">Username is already taken</div> 
      <div *ngIf="username.errors.banned">You are banned</div>   
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" type="text" id="password" class="form-control" />
  </div>
  <div class="form-group">
      <label for="tagsInput">Tags</label>
      <input type="text" id="tagsInput" class="form-control" (keyup.enter)="addTag(tagInput)" #tagInput/>
      <ul>
        <li *ngFor="let tag of form.get('tags').controls">{{ tag.value }}</li>
      </ul>
    </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Sign Up</button>
</form>