<h2>{{authors.length}} Authors</h2>
<ul>
  <li *ngFor="let author of authors">{{ author }}</li>
</ul>

<button class="btn btn-primary" [class.active]="isActive" 
[style.backgroundColor]="isActive ? blue : white"
(click)="onSave($event)">Save</button>

<input #email (keyup.enter)="onKeyUp(email.value)"/>

<input [(ngModel)]="email2" (keyup.enter)="onKeyUp2()"/>


<pre>PIPES</pre>
<span>{{ title | uppercase }}</span>
<span>{{authors.length | number}}</span>
<span>{{authors.length | currency:'EUR':true }}</span>
<span>{{ date | date:'shortDate'}}</span>
<span></span>

<favourite [is-favourite]="post.isFavourite" (change)="onFavouriteChanged($event)"></favourite>

<input type="text" [(ngModel)]="titleValue"/>
<p>{{ titleValue | titleCase }}</p>

<bootstrap-panel>
  <div class="heading">Head</div>
  <div class="body"><h1>Body</h1></div>
</bootstrap-panel>

<likes [isLiked]="tweet.isLiked" [likesCount]="tweet.likesCount"></likes>